@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family:'Prompt',sans-serif;
    background-color: rgba(0, 0, 0, 0.891);
   
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.73);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    background: transparent;
    
}
.nav ul{
    display: flex;
    justify-content: space-between;
   
}
.nav ul li{
    list-style: none;
    margin: 10px;
    transition: 0.3s;
}
.nav ul li:hover{
    color: yellow;
    text-shadow: 1px 1px 1px rgb(255, 68, 0);
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;

}
.Banner  {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-position: center;
    text-align: center;
  
    max-height: 1000px ;

}
.container-content-1{
    display: flex;
    align-items:  center;
    justify-content: center;
    text-align: center;
    background-color: #00000034;
    padding: 4rem;
    margin-bottom: 4rem;
}
.bg{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   height: 1000px;
}
.bg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/Khon-Kaen-1.jpg);
    background-size: cover;
    filter: brightness(45%);
    z-index: -1;
}

.destination{
    color: #fff;
}

.destination .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 4rem;
    background-color: #00000034;
    opacity: 0.9;
    
}

.destination .Header{
    text-align: center;
}

/*destination start 1*/
.destination-card-1 {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 350px;
    height: 350px;
    position: relative;
    list-style: none;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center ;
    cursor: pointer;
}
.destination-card-1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/photo7jpg.jpg);
    background-size: cover;
    z-index: -1;
    transition: 0.3s;
    
}

.destination-card-1 .content{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.destination-card-1:hover::after {
    filter: brightness(20%) ;
}
.destination-card-1:hover{
    scale: 1.1;
    z-index: 1;
}
.destination-card-1:hover .content{
   visibility: visible;
   opacity: 1;
}

/*destination start 2*/
.destination-card-2 {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 350px;
    height: 350px;
    position: relative;
    list-style: none;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center ;
    cursor: pointer;
    padding: 12px;
    font-size: 0.8rem;
}
.destination-card-2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/Khon-Kaen-2-1.jpg);
    background-size: cover;
    z-index: -1;
    transition: 0.3s;
}

.destination-card-2 .content{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.destination-card-2:hover::after {
    filter: brightness(20%) ;
}
.destination-card-2:hover{
    z-index: 1;
    scale: 1.1;
}
.destination-card-2:hover .content{
   visibility: visible;
   opacity: 1;
}
/*destination start 3*/
.destination-card-3 {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 350px;
    height: 350px;
    position: relative;
    list-style: none;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center ;
    cursor: pointer;
    padding: 20px;
    font-size: 0.8rem;
}
.destination-card-3::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/Phu-Pha-Man-720x480.jpg);
    background-size: cover;
    z-index: -1;
    transition: 0.3s;
}

.destination-card-3 .content{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.destination-card-3:hover::after {
    filter: brightness(20%) ;
}
.destination-card-3:hover{
    scale: 1.1;
    z-index: 1;
}
.destination-card-3:hover .content{
   visibility: visible;
   opacity: 1;
}
/*destination start 4*/
.destination-card-4 {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 350px;
    height: 350px;
    position: relative;
    list-style: none;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center ;
    cursor: pointer;
    padding: 20px;
    font-size: 0.8rem;
}
.destination-card-4::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/Wat_Nong_Waeng_Mueang_Kao.jpg);
    background-size: cover;
    z-index: -1;
    transition: 0.3s;

}

.destination-card-4 .content{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.destination-card-4:hover::after {
    filter: brightness(20%) ;
}
.destination-card-4:hover{
    scale: 1.1;
    z-index: 1;
}
.destination-card-4:hover .content{
   visibility: visible;
   opacity: 1;
}
/*destination start 5*/
.destination-card-5 {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 350px;
    height: 350px;
    position: relative;
    list-style: none;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center ;
    cursor: pointer;
    padding: 20px;
    font-size: 0.8rem;
}
.destination-card-5::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/Thungsang-Health-Park-1.jpg);
    background-size: cover;
    z-index: -1;
    transition: 0.3s;

}

.destination-card-5 .content{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.destination-card-5:hover::after {
    filter: brightness(20%) ;
}
.destination-card-5:hover{
    scale: 1.1;
    z-index: 1;
}
.destination-card-5:hover .content{
   visibility: visible;
   opacity: 1;
}
/*destination start 6*/
.destination-card-6 {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 350px;
    height: 350px;
    position: relative;
    list-style: none;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center ;
    cursor: pointer;
    padding: 20px;
    font-size: 0.8rem;
}
.destination-card-6::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/Central.jpeg);
    background-size: cover;
    z-index: -1;
    transition: 0.3s;

}

.destination-card-6 .content{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.destination-card-6:hover::after {
    filter: brightness(20%) ;
}
.destination-card-6:hover{
    scale: 1.1;
    z-index: 1;
}
.destination-card-6:hover .content{
   visibility: visible;
   opacity: 1;
}
/*end*/
.Section-Foods{
    background-color: #fff;
    color: black;
}



footer{
    
    color: #fff;
    text-align: center;
    margin-top: 100px;

}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 50px;
    max-width: 100%;
    background-color: #010101d7;
    margin-top: 50px;
}
